@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");

body {
  margin: 0;
  font-family: "Oswald", "Cardo";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
  overflow-x: hidden;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hero {
  background-color: #e1b9b1;
  position: relative;
  height: 100vh;
}

.heroImage {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.heroDesc {
  color: #fff;
  font-family: Cardo;
  font-size: 65px;
  font-weight: 500;
  margin-left: 75px;
  margin-top: 9vh;
  line-height: 80px;
  width: 420px;
  position: relative;
  float: right;
}

.heroDesc_container {
  margin-right: calc(50vw - 530px);
  z-index: 10;
  position: absolute;
  right: 0;
  top: 115px;
}

.desc_standout {
  font-weight: 700;
  color: #614051;
}

.hero h3 {
  font-size: 30px;
  margin-left: 100px;
  margin-top: 10vh;
  color: #614051;
  z-index: 5;
  position: absolute;
  /* right: calc(50% - 230px); */
}

.about {
  margin-right: -100px;
  position: relative;
  color: #9da191;
  font-family: Oswald;
  letter-spacing: 28px;
  font-size: calc(280px + (280 - 220) * ((100vw - 280px) / (1600 - 280)));
  writing-mode: vertical-lr;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
  transform: rotate(180deg);
  z-index: 10;
  opacity: 0.3;
  bottom: 0;
  line-height: 130%;
  float: right;
}

.leftSide {
  position: relative;
}

.rightSide {
  position: relative;
  width: 50%;
  float: right;
  background-color: #e1b9b1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.aboutMe {
  display: inline-block;
  width: 90%;
  padding: 50px 60px;
  font-size: 30px;
  line-height: 29px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: 50px;
}

.accentColor {
  font-weight: 600;
  color: #614051;
}

/* PROJECTS */

.projectBar_1 {
  display: flex;
}

.medProject {
  width: 40%;
  height: 300px;
}

.largeProject {
  width: 60%;
  height: 300px;
}

.projectBar_2 {
  display: flex;
  margin-top: 10px;
}

.halfProj {
  width: 50%;
  height: 400px;
}

.purpleBorder {
  border: solid 3px #614051;
  border-radius: 5px;
}

.projects {
  margin-left: -20px;
  position: relative;
  color: #9da191;
  font-family: Oswald;
  letter-spacing: 15px;
  font-size: calc(200px + (200 - 180) * ((100vw - 180px) / (1600 - 280)));
  writing-mode: vertical-lr;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
  z-index: 10;
  opacity: 0.3;
  bottom: 0;
  line-height: 100%;
  float: left;
  margin-right: 0px;
}

/* FORM */
.contactForm {
  width: 70vw;
  margin-right: 0px;
  display: inline-block;
  position: absolute;
  margin-top: 25px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #9da191;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #614051;
}

.container {
  width: 100vw;
  border-radius: 5px;
  background-color: #e1b9b1;
  padding: 20px;
  margin-top: 85px;
  display: inline-block;
}

.contact {
  margin-right: -45px;
  position: relative;
  color: #9da191;
  font-family: Oswald;
  letter-spacing: 10px;
  font-size: calc(220px + (220 - 200) * ((100vw - 220px) / (1600 - 220)));
  writing-mode: vertical-lr;
  -webkit-text-orientation: sideways;
  text-orientation: sideways;
  transform: rotate(180deg);
  z-index: 10;
  opacity: 0.3;
  bottom: 0;
  line-height: 130%;
  float: right;
}

/* reusable stuff */

.margin_left_20 {
  margin-left: 20px;
}

.margin_right_20 {
  margin-right: 20px;
}
