@import url("https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald");

body {
  margin: 0;
  font-family: 'Oswald', 'Cardo';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero { 
  background-color: #E1B9B1;
  position: relative;
  height: 100vh;
}

.heroImage{
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}

.heroDesc{
  color: #fff;
  font-family: Cardo;
  font-size: 65px;
  font-weight: 500;
  margin-left: 75px;
  margin-top: 9vh;
  line-height: 80px;
  width: 420px;
  position: relative;
  float: right;
}

.heroDesc_container{
  margin-right: calc(50vw - 530px);
  z-index: 10;
  position: absolute;
  right: 0;
  top: 115px;
}

.desc_standout{
  font-weight: 700;
  color: #614051;
  
}

.hero h3 {
font-size: 30px;
margin-left: 100px;
margin-top: 10vh;
color: #614051;
z-index: 5;
position: absolute;
/* right: calc(50% - 230px); */
}

.about{
margin-right: -100px;
position: relative;
color: #9DA191;
font-family: Oswald;
letter-spacing: 28px;
font-size: calc(300px + (300 - 280) * ((100vw - 300px) / (1600 - 300)));
writing-mode: vertical-lr;
-webkit-text-orientation: sideways;
text-orientation: sideways;
transform: rotate(180deg);
z-index: 10;
opacity: 0.3;
bottom: 0;
line-height: 130%;
float: right;
}

.leftSide{
  position: relative;
}

.rightSide{
  position: relative;
  width: 50%;
  float: right;
}



